<div class="container-fluid">
  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'" (click)="onAddProduct()"><i class="fa fa-plus"></i> Dodaj katalizator</button>
  <button class="btn btn-basic mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'" (click)="onAddPierwiastkiPrice()"><i class="fa fa-plus"></i> Ceny pierwiastków</button>
  <button class="btn btn-basic mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'" (click)="onUpdateProductPriceButton()"><i class="fa fa-plus"></i> Przelicz ceny</button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" style="width:100%">
    <thead class="text-center thead-dark">
      <tr>
        <th>Numer</th>
        <th>Cena</th>
        <th>Zdjęcie</th>
        <th>Wyświetl/Edytuj/Usuń</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="text-center">
        <td>{{product.katNumber}}</td>
        <td>{{product.katPrice | currency: 'EUR' : number : '.2-2'}} / {{product.katPricePLN | currency: 'PLN' : number : '.2-2'}}</td>
        <td><img [src]="product.imageUrl" *ngIf="product.imageUrl" style="float:none" width="75" (click)="onSelect(product)" /></td>
        <td>
          <div class="btn-group mt-2" role="group">
            <button type="button" class="btn btn-success" (click)="onSelect(product)"><i class="fas fa-list"></i></button>
            <button type="button" class="btn btn-primary" *ngIf="userRoleStatus == 'Admin'" (click)="onUpdateModal(product)"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger" *ngIf="userRoleStatus == 'Admin'" (click)="onDelete(product)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- ADD PRODUCT MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Dodaj katalizator</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>

    <form #imageForm=ngForm (ngSubmit)="onPostClick(Image)">
      <ul class="list-group">
        <li class="list-group-item">
          <img [src]="imagePreview" style="width: 250px; height: 200px">
          <ng-container *ngIf="show">
            <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">

            <br />
            <br />

            <button type="submit" id="bind" class="btn-large  btn-submit" [disabled]="Image.value==''" (click)="toggle()">Zatwierdź zdjęcie</button>
          </ng-container>
        </li>
      </ul>
    </form>

    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <!------------------------------------------------->
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="katNumber" formControlName="katNumber" class="form-control" placeholder="Numer katalizatora" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="katNumber.touched && katNumber.errors">
            <span *ngIf="katNumber.hasError('required')">Wymagany numer katalizatora.</span>
            <span *ngIf="katNumber.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="katNumber.hasError('pattern')">Dozwolone tylko cyfry i litery</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="platynaWeight" formControlName="platynaWeight" class="form-control" placeholder="Platyna" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="platynaWeight.touched && platynaWeight.errors">
            <span *ngIf="platynaWeight.hasError('required')">Podaj zawartość platyny.</span>
            <span *ngIf="platynaWeight.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="platynaWeight.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="palladWeight" formControlName="palladWeight" class="form-control" placeholder="Pallad" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="palladWeight.touched && palladWeight.errors">
            <span *ngIf="palladWeight.hasError('required')">Podaj zawartość palladu.</span>
            <span *ngIf="palladWeight.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="palladWeight.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="rodWeight" formControlName="rodWeight" class="form-control" placeholder="Rod" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="rodWeight.touched && rodWeight.errors">
            <span *ngIf="rodWeight.hasError('required')">Podaj zawartość rodu.</span>
            <span *ngIf="rodWeight.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="rodWeight.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="katWeigthPerKg" formControlName="katWeigthPerKg" class="form-control" placeholder="Waga/Kg" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="katWeigthPerKg.touched && katWeigthPerKg.errors">
            <span *ngIf="katWeigthPerKg.hasError('required')">Podaj wartość w kg.</span>
            <span *ngIf="katWeigthPerKg.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="katWeigthPerKg.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="insertForm.invalid || Image.value==''" class="btn btn-primary btn-block">Dodaj</button>
        </li>
      </ul>
      <!-------------------------------------------------->
    </form>

  </div>
</ng-template>
<!-- ADD PRODUCT MODAL END-->
<!-- EDIT PRODUCT MODAL START-->
<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Edytuj katalizator</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">Edytuj</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">

      <!-------------------------------------------------->

      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="katId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id" />
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <h6>Numer katalizatora</h6>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="katNumber" formControlName="katNumber" class="form-control" placeholder="Numer katalizatora" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="_katNumber.touched && _katNumber.errors">
            <span *ngIf="_katNumber.hasError('required')">Wymagany numer katalizatora.</span>
            <span *ngIf="_katNumber.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="_katNumber.hasError('pattern')">Dozwolone tylko cyfry i litery</span>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <h6>Platyna</h6>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="platynaWeight" formControlName="platynaWeight" class="form-control" placeholder="Platyna" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="_platynaWeight.touched && _platynaWeight.errors">
            <span *ngIf="_platynaWeight.hasError('required')">Podaj zawartość platyny.</span>
            <span *ngIf="_platynaWeight.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="_platynaWeight.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <h6>Pallad</h6>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="palladWeight" formControlName="palladWeight" class="form-control" placeholder="Pallad" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="_palladWeight.touched && _palladWeight.errors">
            <span *ngIf="_palladWeight.hasError('required')">Podaj zawartość palladu.</span>
            <span *ngIf="_palladWeight.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="_palladWeight.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <h6>Rod</h6>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="rodWeight" formControlName="rodWeight" class="form-control" placeholder="Rod" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="_rodWeight.touched && _rodWeight.errors">
            <span *ngIf="_rodWeight.hasError('required')">Podaj zawartość rodu.</span>
            <span *ngIf="_rodWeight.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="_rodWeight.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <h6>Waga/Kg</h6>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="katWeigthPerKg" formControlName="katWeigthPerKg" class="form-control" placeholder="Waga/Kg" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="_katWeigthPerKg.touched && _katWeigthPerKg.errors">
            <span *ngIf="_katWeigthPerKg.hasError('required')">Podaj wartość w kg.</span>
            <span *ngIf="_katWeigthPerKg.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="_katWeigthPerKg.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">Zaktualizauj</button>
        </li>
      </ul>
      <!-------------------------------------------------->
    </form>
  </div>
</ng-template>
<!-- EDIT PRODUCT MODAL END-->
<!-- ADD PIERWIASTKI PRICE-->
<ng-template #templatePierwiastki>
  <div class="modal-header">
    <h4 class="modal-title">Aktualizuj ceny pierwiastków</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <table class="table table-bordered row-border hover" style="width:100%">
    <thead class="text-center thead-dark">
      <tr>
        <th>Platyna</th>
        <th>Pallad</th>
        <th>Rod</th>
        <th>EUR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prices of pierwiastkiPrice">
        <td align="center">{{prices.platynaPrice}}</td>
        <td align="center">{{prices.palladPrice}}</td>
        <td align="center">{{prices.rodPrice}}</td>
        <td align="center">{{prices.euroExchangeRate}}</td>
      </tr>
    </tbody>
  </table>

  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase"></p>


    <form [formGroup]="pierwiastkiForm" (ngSubmit)="onSubmitPierwiastki()">
      <!------------------------------------------------->
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="platynaPrice" formControlName="platynaPrice" class="form-control" placeholder="cena platyny" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="platynaPrice.touched && platynaPrice.errors">
            <span *ngIf="platynaPrice.hasError('required')">Podaj cenę platyny.</span>
            <span *ngIf="platynaPrice.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="platynaPrice.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="palladPrice" formControlName="palladPrice" class="form-control" placeholder="cena palladu" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="palladPrice.touched && palladPrice.errors">
            <span *ngIf="palladPrice.hasError('required')">Podaj cenę palladu.</span>
            <span *ngIf="palladPrice.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="palladPrice.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="rodPrice" formControlName="rodPrice" class="form-control" placeholder="cena rodu" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="rodPrice.touched && rodPrice.errors">
            <span *ngIf="rodPrice.hasError('required')">Podaj cenę rodu.</span>
            <span *ngIf="rodPrice.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="rodPrice.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="euroExchangeRate" formControlName="euroExchangeRate" class="form-control" placeholder="kurs euro" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="euroExchangeRate.touched && euroExchangeRate.errors">
            <span *ngIf="euroExchangeRate.hasError('required')">Wprowadź cenę euro.</span>
            <span *ngIf="euroExchangeRate.hasError('maxlength')">Dozwolone 10 znaków.</span>
            <span *ngIf="euroExchangeRate.hasError('pattern')">Dozwolone tylko cyfry, wartości dzisiętne tylko po KROPCE</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="pierwiastkiForm.invalid" class="btn btn-primary btn-block">Aktualizuj ceny</button>
        </li>
      </ul>
      <!-------------------------------------------------->
    </form>

  </div>
</ng-template>
<!--END PIERWIASTKI PRICE-->
<!-- START UPDATE PRODUCT PRICE-->
<ng-template #updateProductPriceTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Aktualizuj ceny</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form (ngSubmit)="onUpdateProductPrice()">

      <!-------------------------------------------------->
      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-primary btn-block">Zaktualizauj</button>
        </li>
      </ul>
      <!-------------------------------------------------->

    </form>
  </div>
</ng-template>
<!-- END UPDATE PRODUCT PRICE-->
