<ng-template #noproduct>
  <h2>No Product to Display</h2>
</ng-template>

<div class="container" *ngIf="product;else noproduct">
  <div class="card">
    <div class="row">
      <aside class="col-sm-6 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div> <a href="#"><img [src]="product.imageUrl" /></a></div>
          </div>
        </article>
      </aside>
      <aside class="col-sm-6">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{product.katNumber | uppercase}}</h3>
          <p class="price-detail-wrap">
            <span class="price h3 text-warning">
              <span class="currency"></span><span class="num">{{product.katPrice | currency: 'EUR' : number : '.2-2'}} / {{product.katPricePLN | currency: 'PLN' : number : '.2-2'}}</span>
            </span>
          </p>
        </article>
      </aside> 
    </div> 
  </div> 
</div>
