<div class="container">
  <br>
  <br>
  <div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Rekat</span>
          <img class="img-fluid" src="/images/katalizator.png" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
          <span class="card-detail-badge">Rekat Rekat Rekat Rekat</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>Rekat Rekat</h5>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Rekat</span>
          <img class="img-fluid" src="/images/katalizator.png" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
          <span class="card-detail-badge">Rekat Rekat Rekat Rekat</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>Rekat Rekat</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Rekat</span>
          <img class="img-fluid" src="/images/katalizator.png" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
          <span class="card-detail-badge">Rekat Rekat Rekat Rekat</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>Rekat Rekat</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase">Rekat Rekat</h5>
          <ul class="list-group">
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
          </ul>
          <a href="#" class="btn btn-primary mt-2 btn-block">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase">Rekat Rekat</h5>
          <ul class="list-group">
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
            <li class="list-group-item">Rekat Rekat Rekat Rekat Rekat</li>
          </ul>
          <a href="#" class="btn btn-primary mt-2 btn-block">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
